.robot{ padding-left:500px;
	padding-top:350px;
	height:3000px;
	width:3000px;
	background: white;
	position: relative;
}
.head{width: 400px;
	height: 250px;
	background: lightgrey;
	-moz-border-radius: 100px / 100px;
	-webkit-border-radius: 100px / 100px;
	border-radius: 250px / 100px;
	transform:translate(-50px,-200px)
}
.antena{width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 150px solid darkgrey;
	position:absolute;
	transform:translate(-122px,50px) rotate(90deg);
}
.antena1{width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 150px solid darkgrey;
	position:absolute;
	transform:translate(425px,50px) rotate(-90deg);
}
.eye{width: 75px;
	height: 75px;
	background: darkgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:absolute;
	transform:translate(225px,75px);
	
}
.eye1{width: 75px;
	height: 75px;
	background: darkgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:absolute;
	transform:translate(100px,75px);
}
.pupil{width: 50px;
	height: 50px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:absolute;
	transform:translate(10px,20px);
}
.pupil1{width: 50px;
	height: 50px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:absolute;
	transform:translate(15px,20px);
}
.mouth{width: 3px;
	height: 75px;
	position:absolute;
	background-color: darkgrey;
	transform:translate(200px,175px) rotate(90deg);
}
.body{width: 300px;
	height: 500px;
	background:darkgrey;
	position:absolute;
}
.door{width: 250px;
	height: 250px;
	background: dimgrey;
	position:absolute;
	display:center;
	transform:translate(25px,-25px)
}
.knob{
	width: 75px;
	height: 75px;
	background: crimson;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position:absolute;
	transform:translate(110px,-120px)
}
.legs{
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 600px solid lightgrey;
	position:absolute;
	transform:translate(0px,250px)
}
.foot{
	width: 75px;
		height: 150px;
		background: black;
		-moz-border-radius: 100px / 50px;
		-webkit-border-radius: 100px / 50px;
		border-radius: 100px / 150px;
		transform:translate(-35px,-100px)
}
.arm{ width:100px;
	height:200px;
	background-color:lightgrey;
	position:absolute;
	transform:translate(-100px,-100px)
}
.middle{width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 300px solid darkgrey;
	position:relative;
	transform:translate(0px,200px)
}
.hand{width: 75px;
	height: 75px;
	background: dimgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	transform:translate(-35px,-70px)
}
.arm1{ width:100px;
	height:200px;
	background-color:lightgrey;
	position:absolute;
	transform:translate(300px,-100px)
}
.middle1{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 300px solid darkgrey;
	position:absolute;
	transform:translate(0px,200px)
}
.hand1{width: 75px;
	height: 75px;
	background:dimgrey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	transform:translate(-35px,-70px)
}
.ball{width: 300px;
	height: 300px;
	background: olivedrab;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 250px;
	transform:translate(600px,875px);
	position: absolute;
}
.baton{width: 25px;
	height: 600px;
	border-radius:10px;
	position:absolute;
	background-color: cornflowerblue;
	transform:translate(700px,870px)rotate(90deg)
}