
.parallax-image {
  background-size:cover;
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-attachment:fixed;
  width:100%;
  height:100vh;
  opacity:1;
}
.page {
  	min-height: 100vh;
 	 position:relative;
}
.arrowbox{
	min-height:100vh;
	width: 15%;
	position: relative;
	float:right;
	opacity:.5;
	
	
}

.titlewrapper{ 
	position:relative;
	width:75%;
	min-height: 100vh;

}
img{
	position:relative;
	margin:25%;
	height:180px;
	width:120px;
	margin-top:100%;
	
      -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
            -o-transition: all.5s ease;
           -ms-transition: all .5 ease;
               transition: all .5 ease;
	
	
}
img:hover{
	-webkit-filter: blur(5px);

}
h1 { 
	position:absolute;
	font-size: 80px;
	font-family: 'Raleway', sans-serif;
	margin:5%;
	text-transform:uppercase;
	letter-spacing: 2px;
}
.subtitle{ position:absolute;
	bottom:10%;
	margin:5%;
}
.one{
		background-color:cornflowerblue;
		background-image: url("kiwi.jpg");
		
}
.two{
		background-color:white;
		background-image: url("hubblecard.png");
}
.three{
		background-color:whitesmoke;
		background-image: url("syria.png");
}
.four{
		background-color:white;
		background-image: url("powerupsign.jpg");
}
.five{
		background-color:whitesmoke;
		background-image: url("cyclelife.jpg");
		
}
.six{
		background-color:white;
		background-image: url("thesewordshindsight.jpg");
		
}
.seven{
		background-color:white;
		background-image: url("firefly5.jpg");
		
}
.eight{
		background-color:white;
		
}
.nine{
		background-color:whitesmoke;
}
#hiddenbodytxt{display:none;
}
#hiddenbodytxt1{display:none;
}
#hiddenbodytxt2{display:none;
}
#hiddenbodytxt3{display:none;
}
#hiddenbodytxt4{display:none;
}

.textwrapper{
		position:relative;
		float:left;
		width:30%;
		height:40%;
		margin-top:10%;
		margin-left:10%;
		
		opacity: 0;
	    	transition:opacity 1.5s ease;
}
	}
	h5{margin:0 auto;
		}

.svgwrapper{
		transform:translateY(-50);
		position:relative;
		float:right;
		width:50%;
		height:50%;
		margin-top:15%;
		margin-right:5%;
	}

.pull-quote {
		position:relative;
		float: right;
		clear:both;
		padding-top:25%;
		width:20%;
		height:30%;
		opacity: 0;
		margin:5%;
		
		font-family:scalasans;
		opacity: 0;
	    	transition:opacity 2s ease;
		line-height:150%;
		font-size:20px;

}	
.blurb{
	position:relative;
	float: left;
	clear:both;
	padding-top:25%;
	width:20%;
	height:30%;
	opacity: 0;
	margin:5%;
	
	font-family:scalasans;
	opacity: 0;
    	transition:opacity 2s ease;
	line-height:150%;
	font-size:20px;
}

h2{
	text-transform:uppercase;
	font-size:40px;
	line-height: 0%;
	font-family:scala sans;
}
.text-block{
	font-family:scala sans;
	font-size:17px;
	line-height:150%;
}


.iframe-wrapper {
 	 	width:100%;
  	  	overflow:hidden;
  		position:absolute;;
  	   	height: 100vh;
 		top:0;
  	 	left:0;
}

.iframe-wrapper iframe {
  		position: absolute;
  	  	width:100%;
  	  	height:100%;
}

object{     
		opacity: 1.5;
	      transition:opacity 1s ease;
	}


.arrived{
	opacity:1;
}
.arriving{
	opacity:1;
}

.fade{background-color:black;
	opacity:.25;}

